<div class="margin-top-50 border-bot product-detail-tab" data-product-id="{{ product.id }}">
    <div class=" margin_bottom_50 {% if theme.settings.product_detail_mobile_first_tab %} active{% endif %}" data-tab-index="1">
        <button class="accordion menu-font btn-tab">{{ theme.settings.tab_product_info }}</button>
        <div class="panel {% if theme.settings.product_detail_mobile_first_tab %}active{% endif %}" data-tab-content="1">
            <p class="des-font des-tab"><br><br>{{ product.details | raw }}<br><br></p>
            {% if product.specs | length > 0 and theme.settings.display_product_attributes %}
                <div class="product-specs-table">
                    <table class="table">
                        <tbody>
                        {% for spec in product.specs %}
                            <tr>
                                <td>{{ spec.name }}</td>
                                <td>:</td>
                                <td>{{ spec.values | join(', ') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <!--  -->
    {% if theme.settings.product_detail_page_tabs.display_product_comments %}
    <div class=" margin_bottom_50" data-tab-index="2">
        <button class="accordion menu-font btn-tab">{{ theme.settings.tab_product_comments }}</button>
        <div class="panel" data-tab-content="2">
            <p class="des-font des-tab">
                {% include 'html/snippets/product/comment.twig' %}
               </p>
        </div>
    </div>
    {% endif %}
    <!--  -->
    {% if theme.settings.product_detail_page_tabs.display_payment_options %}
    <div class="margin_bottom_50" data-tab-index="3">
        <button class="accordion menu-font btn-tab">{{ theme.settings.tab_product_payment_options }}</button>
        <div class="panel" data-tab-content="3">
        </div>
    </div>
    {% endif %}

    {% if theme.settings.product_detail_page_tabs.display_product_feeds %}
        <div class=" margin_bottom_50" data-tab-index="4">
            <button class="accordion menu-font btn-tab">{{ theme.settings.tab_product_feeds }}</button>
            <div class="panel" data-tab-content="4">
                {% include 'html/snippets/product/form/product-feed.twig' %}
            </div>
        </div>
    {% endif %}

    {% if theme.settings.product_detail_page_tabs.display_special_information_area and product.specialInfo %}
        <div class=" margin_bottom_50" data-tab-index="5">
            <button class="accordion menu-font btn-tab">{{ product.specialInfo.title }}</button>
            <div class="panel" data-tab-content="5">
                {{ product.specialInfo.content | raw }}
            </div>
        </div>
    {% endif %}
</div>