{% extends 'html/layouts/content-fluid.twig' %}
{% block page_scripts %}
{% endblock %}
{% block breadcrumb %}
    <div class="margin_top_150">
        <div class="container">
        {% include 'html/snippets/product/breadcrumb.twig' %}
        </div>
    </div>
{% endblock %}
{% block content %}
        <div class="container product-detail margin_bottom_150">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin_bottom_50">
                    <div class="product-label-group">
                        {% if product.isNew %}
                            <div class="new-label">{{ theme.settings.label_new }}</div>
                        {% endif %}
                        {% if product.hasGift %}
                            <div class="gift-label">{{ theme.settings.label_gift }}</div>
                        {% endif %}
                    </div>
                    <div class="slick-product-detail margin_bottom_20">
                        <div>
                            {% if product.images | length > 0 %}
                                <img  alt="{{ product.fullName }}"
                                     src="{{ product.primaryImage.originalUrl }}"
                                     class="img-responsive full-width">
                            {% else %}
                                <img class="product-no-picture" alt="{{ product.fullName }}"
                                     src="{{ product.primaryImage.originalUrl | default(getNopicImageUrl()) }}"/>
                            {% endif %}
                        </div>

                    </div>
                    {% if product.images | length > 0 %}
                        <div class="slick-nav-product-detail">
                            {% for image in product.images %}
                                {% if image.thumbUrl %}
                                    <div>
                                            <img src="{{ image.thumbUrl }}" class="img-responsive"
                                                 alt="{{ product.fullName }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-product-detail">
                    <h1 class="title-font title-product margin_bottom_30">{{ product.fullName }}</h1>
                    {% if preferences.sales_allowed %}
                        <div class="product-price{% if product.isDiscounted %} has-discount{% endif %}">
                            {% if product.isDiscounted and preferences.sales_allowed %}
                                <div class="discount-label">%{{ product.discountPercent }}</div>
                            {% endif %}
                            <div class="product-price-wrapper">
                                <div class="d-flex align-items-baseline">
                                    <div class="product-price-old">
                                        {{ product.priceWithTax(preferences.default_currency) | money }} {{ preferences.default_currency }}
                                    </div>
                                    {% if product.isDiscounted and preferences.sales_allowed %}
                                        <div class="product-price-new">
                                            {{ product.discountedPriceWithTax(preferences.default_currency) | money }} {{ preferences.default_currency }}
                                        </div>
                                    {% endif %}
                                </div>
                                {% if product.lowestPrice and theme.settings.display_product_lowest_price %}
                                    <div class="product-lowest-installment">
                                        {{ getLang("_LowestInstallment_") | replace({'(arg0)' : (product.lowestPrice | money) ~ ' ' ~ preferences.default_currency }) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    {% endif %}
                    <div class="product-preview margin_bottom_50 product-comments-container"
                         data-selector="add-comment">
                        <div class="product-comment-rating"
                             data-rank="{{ product.averageCommentRank | number_format(2, '.', ',') }}">
                            <div class="jq-ry-group-wrapper">
                                <div class="jq-ry-normal-group jq-ry-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.94 47.94" width="16px"
                                         height="16px" fill="#dddddd">
                                        <path d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.94 47.94" width="16px"
                                         height="16px" fill="#dddddd" style="margin-left: 2px;">
                                        <path d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.94 47.94" width="16px"
                                         height="16px" fill="#dddddd" style="margin-left: 2px;">
                                        <path d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.94 47.94" width="16px"
                                         height="16px" fill="#dddddd" style="margin-left: 2px;">
                                        <path d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.94 47.94" width="16px"
                                         height="16px" fill="#dddddd" style="margin-left: 2px;">
                                        <path d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span>{{ product.commentCount }} {{ theme.settings.product_comment_title }}</span>
                    </div>
                    {% if product.isVariantAvailable %}
                        <div class="product-options margin_bottom_30">
                            {% if theme.settings.optioned_product_view_type == "radiobox_multiple" %}
                                <div class="variant-group-title menu-font">{{ getLang("_Options_") }}</div>
                            {% endif %}
                            {% include "html/snippets/product/option.twig" %}
                        </div>
                    {% endif %}
                    {% if product.customization  %}
                        <div class="product-list-block">
                            {% include 'html/snippets/product/customization.twig' %}
                        </div>
                    {% endif %}

                    {% if preferences.sales_allowed %}
                        <div class="product-cart-buttons">
                            {% if product.isAvailableForSales %}
                                {% if theme.settings.qtytype == 'select' or theme.settings.qtytype == "textbox" or theme.settings.qtytype == "plusminus" %}
                                    {% if theme.settings.qtytype == "select" %}
                                        <div class="product-qty-wrapper product-qty-wrapper-select">
                                            <div class="product-qty" data-selector="qty-wrapper">
                                                <select name="qty-input" id="qty-input" data-selector="qty"
                                                        data-context="detail"
                                                        data-stocktype="{{ product.stockTypeLabel }}"
                                                        data-stockamount='{{ product.stockAmount }}' value="1"
                                                        aria-label="Quantity">
                                                    {% for i in 1..10 %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% elseif theme.settings.qtytype == "textbox" %}
                                        <div class="product-qty-wrapper product-qty-wrapper-select">
                                            <div class="product-qty" data-selector="qty-wrapper">
                                                <div>
                                                    <input type="text" id="qty-input" data-selector="qty"
                                                           data-context="detail"
                                                           data-stocktype="{{ product.stockTypeLabel }}"
                                                           data-stockamount='{{ product.stockAmount }}' value="1"
                                                           aria-label="Quantity" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif theme.settings.qtytype == "plusminus" %}
                                        <div class="product-qty-wrapper">
                                            <div class="product-qty" data-selector="qty-wrapper">
                                                <a href="javascript:void(0)" data-selector="decrease-qty"
                                                   aria-label="Decrease Quantity">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                        <path d="M2.5 8H13.5" stroke="#333333" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                                <div>
                                                    <input type="text" id="qty-input" data-selector="qty"
                                                           data-context="detail"
                                                           data-stocktype="{{ product.stockTypeLabel }}"
                                                           data-stockamount='{{ product.stockAmount }}' value="1"
                                                           aria-label="Quantity" autocomplete="off">
                                                </div>
                                                <a href="javascript:void(0)" data-selector="increase-qty"
                                                   aria-label="Increase Quantity">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                        <path d="M2.5 8H13.5" stroke="#333333" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                        <path d="M8 2.5V13.5" stroke="#333333" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if product.realAmount > 0 %}
                                    <div class="product-buttons-wrapper">
                                        <div class="product-buttons-row">
                                            <div>
                                                <a href="javascript:void(0);"
                                                   class="enj-add-to-cart-btn btn-default menu-font uppercase hover-border"
                                                   data-selector="add-to-cart" data-context="detail"
                                                   data-product-id="{{ product.id }}">{{ theme.settings.addtocart_button }}</a>
                                            </div>
                                            <div class="div">
                                                <a href="javascript:void(0);" class="icon-heart hover-border"
                                                   data-selector="add-my-favorites" data-product-id="{{ product.id }}"
                                                   aria-label="Add To Favorites">
                                                    <svg class="icon-favori" width="24" height="24" viewBox="0 0 24 24"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M6.12727 4.04209C4.48884 4.29066 3 5.66688 3 8.22843C3 9.47358 3.52019 10.8384 4.4074 12.2397C5.28814 13.6308 6.47933 14.9773 7.69805 16.1654C8.91306 17.3499 10.132 18.3543 11.0492 19.0636C11.4255 19.3546 11.7495 19.5948 12 19.7763C12.2505 19.5948 12.5745 19.3546 12.9508 19.0636C13.868 18.3543 15.0869 17.3499 16.3019 16.1654C17.5207 14.9773 18.7119 13.6308 19.5926 12.2397C20.4798 10.8384 21 9.47358 21 8.22843C21 5.66688 19.5112 4.29066 17.8727 4.04209C16.2089 3.78966 14.1101 4.66543 12.9085 7.27788C12.7453 7.63268 12.3905 7.86002 12 7.86002C11.6095 7.86002 11.2547 7.63268 11.0915 7.27788C9.88992 4.66543 7.7911 3.78966 6.12727 4.04209ZM12 21L12.5581 21.8298C12.2206 22.0568 11.7794 22.0568 11.4419 21.8298L12 21ZM12 4.88494C10.3849 2.67403 8.02171 1.73179 5.82727 2.06472C3.14752 2.47127 1 4.74407 1 8.22843C1 10.0062 1.72981 11.7494 2.7176 13.3095C3.71186 14.8799 5.02067 16.3484 6.30195 17.5975C7.58694 18.8502 8.86795 19.905 9.82575 20.6457C10.3055 21.0167 10.7061 21.3104 10.9883 21.5124C11.1294 21.6134 11.241 21.6916 11.3183 21.7451C11.3569 21.7718 11.3869 21.7924 11.4077 21.8066L11.4319 21.8231L11.4387 21.8277L11.4419 21.8298C11.4419 21.8298 11.4419 21.8298 12 21C12.5581 21.8298 12.5581 21.8298 12.5581 21.8298L12.5613 21.8277L12.5681 21.8231L12.5923 21.8066C12.6131 21.7924 12.6431 21.7718 12.6817 21.7451C12.759 21.6916 12.8706 21.6134 13.0117 21.5124C13.2939 21.3104 13.6945 21.0167 14.1742 20.6457C15.132 19.905 16.4131 18.8502 17.6981 17.5975C18.9793 16.3484 20.2881 14.8799 21.2824 13.3095C22.2702 11.7494 23 10.0062 23 8.22843C23 4.74407 20.8525 2.47127 18.1727 2.06472C15.9783 1.73179 13.6151 2.67403 12 4.88494Z"
                                                              fill="black"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="product-buttons-wrapper">
                                        <div class="product-buttons-row">
                                            <div>
                                                <a href="javascript:void(0);"
                                                   class="no-stock-button">{{ theme.settings.incart_button }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% elseif product.stockAmount == 0 %}
                                <div class="product-buttons-wrapper">
                                    <div class="product-buttons-row">
                                        <div>
                                            <a href="javascript:void(0);" class="remind-me-button"
                                               data-selector="stock-warning">{{ theme.settings.remindme_button }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                        </div>
                    {% endif %}

                    {% include 'html/snippets/product/tab.twig' %}


                    <div class="info-more">
                        {% if theme.settings.display_sku %}
                            <p class="des-font margin_bottom_30 margin_top_50">
                                <span class="menu-font">{{ getLang("_StockCode_") }}</span>
                                {{ product.sku }}
                            </p>
                        {% endif %}
                        {% if product.categories | length > 0 and theme.settings.display_category_detail %}
                            <p class="margin_bottom_30">
                                <span class="menu-font margin_right_10">{{ getLang("_Category_") }}</span>
                                {% for category in product.categories %}
                                    <a href='{{ category.url }}' class="delay03 margin_right_10"
                                       title="{{ category.name ~ ' ' ~ theme.settings.detail_category_text }}">{{ category.name }}</a>
                                    {% if not loop.last %}<span>, </span>{% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if product.brand | length > 0 and theme.settings.display_brand_detail %}
                            <p class="margin_bottom_30">
                                <span class="menu-font margin_right_10">{{ getLang("_Brand_") }}</span>
                                <a href="{{ product.brand.url }}" class="delay03 margin_right_10"
                                   title="{{ product.brand.name ~ ' ' ~ theme.settings.detail_brand_text }}">{{ product.brand.name }}</a>
                            </p>
                        {% endif %}
                        {% if theme.settings.use_social_links %}
                            <p class="margin_bottom_30">
                                <span class="menu-font margin_right_30">Share:</span>
                                <a href="#" class="delay03 margin_right_30product-social-facebook"
                                   data-selector="share-link" data-type="facebook">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M7.812 4.487V6.965H6V10H7.816V19H11.546V10H14.046C14.046 10 14.28 8.547 14.394 6.958H11.557V4.882C11.5911 4.68787 11.6893 4.5108 11.836 4.37916C11.9827 4.24752 12.1693 4.16894 12.366 4.156H14.4V1H11.637C7.719 1 7.812 4.034 7.812 4.487Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                                <a href="#" class="delay03 margin_right_30 product-social-twitter"
                                   data-selector="share-link" data-type="twitter">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M18.231 4.65668C17.583 4.93939 16.8976 5.12732 16.196 5.21468C16.9354 4.77608 17.4883 4.08158 17.75 3.26268C17.0576 3.67333 16.3 3.9625 15.51 4.11768C15.0257 3.60056 14.3971 3.24103 13.7058 3.08581C13.0146 2.93059 12.2926 2.98685 11.6337 3.24727C10.9748 3.5077 10.4095 3.96026 10.0111 4.54615C9.6128 5.13205 9.39986 5.8242 9.4 6.53268C9.39723 6.80356 9.42474 7.07391 9.482 7.33868C8.07656 7.26979 6.70149 6.90506 5.44666 6.26834C4.19183 5.63162 3.08551 4.73725 2.2 3.64368C1.7454 4.42082 1.60464 5.34219 1.80648 6.21961C2.00832 7.09703 2.53752 7.8643 3.286 8.36468C2.72546 8.35036 2.17663 8.20114 1.686 7.92968V7.96868C1.68701 8.78434 1.96895 9.57476 2.48438 10.2069C2.9998 10.8391 3.71725 11.2744 4.516 11.4397C4.21384 11.5192 3.90244 11.5582 3.59 11.5557C3.36549 11.5598 3.14119 11.5397 2.921 11.4957C3.1492 12.1967 3.58905 12.8097 4.18002 13.2504C4.77099 13.6912 5.48403 13.9379 6.221 13.9567C4.97052 14.9345 3.42841 15.4651 1.841 15.4637C1.55991 15.4652 1.27901 15.4489 1 15.4147C2.61528 16.4554 4.49748 17.006 6.419 16.9997C7.7417 17.0089 9.05304 16.7551 10.2769 16.2532C11.5007 15.7513 12.6126 15.0113 13.548 14.0761C14.4834 13.1409 15.2237 12.0291 15.7258 10.8054C16.2279 9.58167 16.4819 8.27038 16.473 6.94768C16.473 6.79168 16.468 6.64068 16.46 6.49068C17.1569 5.99211 17.7571 5.37061 18.231 4.65668Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                                <a href="#" class="delay03 margin_right_30product-social-pinterest"
                                   data-selector="share-link" data-type="pinterest">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M10.561 2C5.628 2 3 5.161 3 8.609C3 10.209 3.893 12.201 5.323 12.834C5.54 12.934 5.658 12.89 5.707 12.689C5.75 12.536 5.938 11.799 6.029 11.451C6.04522 11.3967 6.04663 11.3391 6.0331 11.284C6.01956 11.229 5.99156 11.1786 5.952 11.138C5.40251 10.4247 5.1031 9.55039 5.1 8.65C5.11346 7.99513 5.25947 7.34978 5.5292 6.75289C5.79893 6.156 6.18679 5.61994 6.66938 5.17707C7.15197 4.73419 7.71929 4.39368 8.33709 4.17609C8.9549 3.95849 9.61039 3.86831 10.264 3.911C13.077 3.911 15.044 5.738 15.044 8.352C15.044 11.305 13.481 13.352 11.451 13.352C11.1978 13.3732 10.9432 13.3341 10.7081 13.2379C10.4729 13.1418 10.2639 12.9913 10.098 12.7989C9.93221 12.6064 9.81431 12.3774 9.75399 12.1306C9.69367 11.8838 9.69264 11.6263 9.751 11.379C10.1736 10.1979 10.4915 8.98185 10.701 7.745C10.7205 7.5462 10.6973 7.34552 10.6329 7.15644C10.5684 6.96736 10.4643 6.79426 10.3274 6.64876C10.1905 6.50327 10.0241 6.38875 9.83931 6.3129C9.65451 6.23705 9.45562 6.20162 9.256 6.209C8.112 6.209 7.184 7.342 7.184 8.863C7.17716 9.42129 7.29395 9.97417 7.526 10.482C7.526 10.482 6.4 15.051 6.192 15.9C5.99963 17.2248 6.02768 18.5723 6.275 19.888C6.27764 19.9121 6.28756 19.9348 6.30345 19.9531C6.31934 19.9714 6.34044 19.9844 6.36393 19.9904C6.38742 19.9964 6.41217 19.995 6.43488 19.9866C6.45758 19.9781 6.47717 19.9629 6.491 19.943C7.27365 18.8666 7.90081 17.6853 8.354 16.434C8.494 15.92 9.066 13.834 9.066 13.834C9.3684 14.2405 9.76553 14.5669 10.2228 14.785C10.6802 15.003 11.1838 15.106 11.69 15.085C15.137 15.085 17.628 12.055 17.628 8.295C17.616 4.7 14.531 2 10.561 2Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                                <a href="#" class="delay03 margin_right_30product-social-whatsapp"
                                   data-selector="share-link" data-type="whatsapp">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M16.377 3.61331C15.1243 2.36619 13.531 1.51696 11.7973 1.17224C10.0636 0.827523 8.26663 1.00268 6.63211 1.67572C4.99759 2.34876 3.59833 3.48968 2.61001 4.95524C1.62169 6.4208 1.08837 8.14568 1.077 9.91331C1.07636 11.4795 1.49039 13.018 2.277 14.3723L1 18.9973L5.75 17.7573C7.06504 18.4701 8.5372 18.8434 10.033 18.8433C12.4041 18.8468 14.6798 17.9096 16.3608 16.2374C18.0419 14.5651 18.991 12.2944 19 9.92331C19.0032 8.75013 18.773 7.58803 18.3226 6.50471C17.8723 5.42139 17.2109 4.43851 16.377 3.61331ZM10.038 17.3363C8.70477 17.3366 7.39579 16.9799 6.247 16.3033L5.975 16.1423L3.15 16.8783L3.903 14.1423L3.726 13.8623C3.0182 12.7379 2.62568 11.444 2.58952 10.1159C2.55337 8.78777 2.8749 7.47436 3.52048 6.31315C4.16605 5.15194 5.11191 4.18563 6.25905 3.51537C7.40619 2.84511 8.71242 2.49556 10.041 2.50331C11.0149 2.50331 11.9794 2.69514 12.8792 3.06786C13.779 3.44057 14.5966 3.98687 15.2853 4.67555C15.9739 5.36424 16.5202 6.18183 16.893 7.08164C17.2657 7.98145 17.4575 8.94586 17.4575 9.91981C17.4575 10.8938 17.2657 11.8582 16.893 12.758C16.5202 13.6578 15.9739 14.4754 15.2853 15.1641C14.5966 15.8528 13.779 16.399 12.8792 16.7718C11.9794 17.1445 11.0149 17.3363 10.041 17.3363H10.038ZM14.124 11.7843C13.9 11.6723 12.799 11.1333 12.594 11.0593C12.389 10.9853 12.239 10.9483 12.094 11.1713C11.949 11.3943 11.516 11.8963 11.385 12.0453C11.254 12.1943 11.124 12.2123 10.9 12.1013C10.2385 11.8409 9.62734 11.4674 9.094 10.9973C8.60511 10.546 8.18588 10.0247 7.85 9.45031C7.72 9.22731 7.85 9.11831 7.95 8.99531C8.15548 8.75569 8.34267 8.50097 8.51 8.23331C8.53969 8.1719 8.5535 8.10402 8.55018 8.03589C8.54686 7.96776 8.52652 7.90155 8.491 7.84331C8.435 7.73131 7.991 6.63531 7.801 6.18831C7.611 5.74131 7.435 5.81231 7.301 5.80531C7.167 5.79831 7.014 5.79731 6.865 5.79731C6.75114 5.79983 6.63903 5.82592 6.53576 5.87394C6.43249 5.92196 6.3403 5.99087 6.265 6.07631C6.01234 6.3147 5.81213 6.60314 5.67714 6.92321C5.54216 7.24329 5.47535 7.58798 5.481 7.93531C5.55417 8.77638 5.87189 9.57765 6.395 10.2403C7.35711 11.6746 8.67556 12.8342 10.221 13.6053C10.6381 13.7844 11.0643 13.9413 11.498 14.0753C11.9549 14.2134 12.4375 14.2435 12.908 14.1633C13.2194 14.1003 13.5145 13.9736 13.7747 13.7912C14.0349 13.6088 14.2546 13.3746 14.42 13.1033C14.5664 12.7704 14.6116 12.4017 14.55 12.0433C14.497 11.9513 14.35 11.8973 14.124 11.7843Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="newsletter-home3 space_bot_150 space_top_130 BG">
            {% if theme.settings.newsletter_title or theme.settings.newsletter_short_details %}
                {% if theme.settings.newsletter_title %}
                    <h1 class="title-font capital title-newsletter text-center">{{ theme.settings.newsletter_title }}</h1>
                {% endif %}
                {% if theme.settings.newsletter_short_details %}
                    <p class="des-font des-newsletter space_bot_60 text-center">{{ theme.settings.newsletter_short_details }}</p>
                {% endif %}
            {% endif %}
            <form class="form-group des-font flex" method="post" target="_blank">
                <input type="email" name="EMAIL" class="form-control"
                       placeholder="{{ theme.settings.newsletter_placeholder }}"
                       onfocus="this.placeholder = ''"
                       onblur="this.placeholder = '{{ theme.settings.newsletter_placeholder }}'"
                       aria-label="Newsletter Email" autocomplete="off">
                <button type="submit" aria-label="Submit" class="menu-font uppercase">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_542_928)">
                            <path d="M22 20.007C21.9982 20.2696 21.8931 20.521 21.7075 20.7068C21.5219 20.8926 21.2706 20.9979 21.008 21H2.992C2.72881 20.9997 2.4765 20.895 2.29049 20.7088C2.10448 20.5226 2 20.2702 2 20.007V19H20V7.3L12 14.5L2 5.5V4C2 3.73478 2.10536 3.48043 2.29289 3.29289C2.48043 3.10536 2.73478 3 3 3H21C21.2652 3 21.5196 3.10536 21.7071 3.29289C21.8946 3.48043 22 3.73478 22 4V20.007ZM4.434 5L12 11.81L19.566 5H4.434ZM0 15H8V17H0V15ZM0 10H5V12H0V10Z"
                                  fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_542_928">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </form>
        </div>

    {% endblock %}

