{% extends 'html/layouts/content-fluid.twig' %}
{% block page_scripts %}
{% endblock %}
{% block content %}
    <div class="banner margin_bottom_150">
        <div class="container">
            {% include 'html/snippets/product/breadcrumb.twig' %}
        </div>
    </div>
    <div class="container product-detail margin_bottom_150">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin_bottom_50">
                <div class="product-left position-relative">
                    <div class="product-label-group">
                        {% if product.isNew %}
                            <div class="new-label">{{ theme.settings.label_new }}</div>
                        {% endif %}
                        {% if product.hasGift %}
                            <div class="gift-label">{{ theme.settings.label_gift }}</div>
                        {% endif %}
                    </div>
                    <div class="slick-product-detail margin_bottom_20
                            {% if theme.settings.general_image_size == '3' %}
                                    product-image-horizontal
                            {% elseif theme.settings.general_image_size == '2' %}
                                    product-image-vertical
                            {% endif %}">
                        <div>
                            {% if product.images | length > 0 %}
                                <img alt="{{ product.fullName }}" src="{{ product.primaryImage.originalUrl }}"
                                     data-zoom-image="{{ product.primaryImage.originalUrl }}"
                                     class="img-responsive full-width">
                            {% else %}
                                <img class="product-no-picture" alt="{{ product.fullName }}"
                                     src="{{ product.primaryImage.originalUrl | default(getNopicImageUrl()) }}"/>
                            {% endif %}
                        </div>
                    </div>
                    {% if product.images | length > 0 %}
                        <div class="slick-nav-product-detail">
                            <div id="product-thumb-image"
                                 class="row{% if theme.settings.general_image_size == '3' %} product-image-horizontal{% elseif theme.settings.general_image_size == '2' %} product-image-vertical{% endif %}">
                                {% for image in product.images %}
                                    {% if image.thumbUrl %}
                                        <a href="#" data-image="{{ image.originalUrl }}"
                                           data-zoom-image="{{ image.originalUrl }}">
                                            <img src="{{ image.thumbUrl }}" alt="{{ product.fullName }}"
                                                 class="img-responsive">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-product-detail">
                    <h1 class="title-font title-product margin_bottom_30">{{ product.fullName }}</h1>
                    {% if preferences.sales_allowed %}
                        <div class="product-price{% if product.isDiscounted %} has-discount{% endif %}">
                            {% if product.isDiscounted and preferences.sales_allowed %}
                                <div class="discount-label number-font price margin_bottom_40">
                                    %{{ product.discountPercent }}</div>
                            {% endif %}
                            <div class="product-price-wrapper">
                                <div class="d-flex align-items-baseline">
                                    <div class="product-price-old number-font price margin_bottom_40">
                                        {{ product.priceWithTax(preferences.default_currency) | money }} {{ preferences.default_currency }}
                                    </div>
                                    {% if product.isDiscounted and preferences.sales_allowed %}
                                        <div class="product-price-new number-font price margin_bottom_40">
                                            {{ product.discountedPriceWithTax(preferences.default_currency) | money }} {{ preferences.default_currency }}
                                        </div>
                                    {% endif %}
                                </div>
                                {% if product.lowestPrice and theme.settings.display_product_lowest_price %}
                                    <div class="product-lowest-installment number-font price margin_bottom_40">
                                        {{ getLang("_LowestInstallment_") | replace({'(arg0)' : (product.lowestPrice | money) ~ ' ' ~ preferences.default_currency }) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="product-comments-container" data-selector="add-comment">
                        <div class="product-comment-rating"
                             data-rank="{{ product.averageCommentRank | number_format(2, '.', ',') }}"></div>
                        <span>{{ product.commentCount }} {{ theme.settings.product_comment_title }}</span>
                    </div>
                    {% if product.isVariantAvailable %}
                        <div class="product-options margin_bottom_30">
                            {% if theme.settings.optioned_product_view_type == "radiobox_multiple" %}
                                <div class="variant-group-title menu-font">{{ getLang("_Options_") }}</div>
                            {% endif %}
                            {% include "html/snippets/product/option.twig" %}
                        </div>
                    {% endif %}
                    {% if product.customization %}
                        <div class="product-list-block">
                            {% include 'html/snippets/product/customization.twig' %}
                        </div>
                    {% endif %}
                    <div class="flex margin_bottom_50 border-bot space_bot_50 btn-function">
                        <div class="product-cart-buttons">
                            {% if product.isAvailableForSales %}
                                {% if theme.settings.qtytype == 'select' or theme.settings.qtytype == "textbox" or theme.settings.qtytype == "plusminus" %}
                                    {% if theme.settings.qtytype == "select" %}
                                        <div class="product-qty-wrapper product-qty-wrapper-select">
                                            <div class="product-qty" data-selector="qty-wrapper">
                                                <select name="qty-input" id="qty-input" data-selector="qty"
                                                        data-context="detail"
                                                        data-stocktype="{{ product.stockTypeLabel }}"
                                                        data-stockamount='{{ product.stockAmount }}' value="1"
                                                        aria-label="Quantity">
                                                    {% for i in 1..10 %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% elseif theme.settings.qtytype == "textbox" %}
                                        <div class="product-qty-wrapper product-qty-wrapper-select">
                                            <div class="product-qty" data-selector="qty-wrapper">
                                                <div>
                                                    <input type="text" id="qty-input" data-selector="qty"
                                                           data-context="detail"
                                                           data-stocktype="{{ product.stockTypeLabel }}"
                                                           data-stockamount='{{ product.stockAmount }}' value="1"
                                                           aria-label="Quantity" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif theme.settings.qtytype == "plusminus" %}
                                        <div class="product-qty-wrapper">
                                            <div class="product-qty" data-selector="qty-wrapper">
                                                <a href="javascript:void(0)" data-selector="decrease-qty"
                                                   aria-label="Decrease Quantity">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                        <path d="M2.5 8H13.5" stroke="#333333" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                                <div>
                                                    <input type="text" id="qty-input" data-selector="qty"
                                                           data-context="detail"
                                                           data-stocktype="{{ product.stockTypeLabel }}"
                                                           data-stockamount='{{ product.stockAmount }}' value="1"
                                                           aria-label="Quantity" autocomplete="off">
                                                </div>
                                                <a href="javascript:void(0)" data-selector="increase-qty"
                                                   aria-label="Increase Quantity">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                        <path d="M2.5 8H13.5" stroke="#333333" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                        <path d="M8 2.5V13.5" stroke="#333333" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if product.realAmount > 0 %}
                                    <div class="product-buttons-wrapper">
                                        <div class="product-buttons-row">
                                            <div>
                                                <a href="javascript:void(0);" class="add-to-cart-button"
                                                   data-selector="add-to-cart" data-context="detail"
                                                   data-product-id="{{ product.id }}">{{ theme.settings.addtocart_button }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="product-buttons-wrapper">
                                        <div class="product-buttons-row">
                                            <div>
                                                <a href="javascript:void(0);"
                                                   class="no-stock-button">{{ theme.settings.incart_button }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% elseif product.stockAmount == 0 %}
                                <div class="product-buttons-wrapper">
                                    <div class="product-buttons-row">
                                        <div>
                                            <a href="javascript:void(0);" class="remind-me-button"
                                               data-selector="stock-warning">{{ theme.settings.remindme_button }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div id="product-user-buttons">
                            <div>
                                <a href="javascript:void(0);"
                                   class="add-my-favorites{{ isFavoriteProduct(product.id) ? ' favorite-product' }}"
                                   data-selector="add-my-favorites" data-product-id="{{ product.id }}"
                                   aria-label="Add To Favorites">
                                    <svg class="icon-favori" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M6.12727 4.04209C4.48884 4.29066 3 5.66688 3 8.22843C3 9.47358 3.52019 10.8384 4.4074 12.2397C5.28814 13.6308 6.47933 14.9773 7.69805 16.1654C8.91306 17.3499 10.132 18.3543 11.0492 19.0636C11.4255 19.3546 11.7495 19.5948 12 19.7763C12.2505 19.5948 12.5745 19.3546 12.9508 19.0636C13.868 18.3543 15.0869 17.3499 16.3019 16.1654C17.5207 14.9773 18.7119 13.6308 19.5926 12.2397C20.4798 10.8384 21 9.47358 21 8.22843C21 5.66688 19.5112 4.29066 17.8727 4.04209C16.2089 3.78966 14.1101 4.66543 12.9085 7.27788C12.7453 7.63268 12.3905 7.86002 12 7.86002C11.6095 7.86002 11.2547 7.63268 11.0915 7.27788C9.88992 4.66543 7.7911 3.78966 6.12727 4.04209ZM12 21L12.5581 21.8298C12.2206 22.0568 11.7794 22.0568 11.4419 21.8298L12 21ZM12 4.88494C10.3849 2.67403 8.02171 1.73179 5.82727 2.06472C3.14752 2.47127 1 4.74407 1 8.22843C1 10.0062 1.72981 11.7494 2.7176 13.3095C3.71186 14.8799 5.02067 16.3484 6.30195 17.5975C7.58694 18.8502 8.86795 19.905 9.82575 20.6457C10.3055 21.0167 10.7061 21.3104 10.9883 21.5124C11.1294 21.6134 11.241 21.6916 11.3183 21.7451C11.3569 21.7718 11.3869 21.7924 11.4077 21.8066L11.4319 21.8231L11.4387 21.8277L11.4419 21.8298C11.4419 21.8298 11.4419 21.8298 12 21C12.5581 21.8298 12.5581 21.8298 12.5581 21.8298L12.5613 21.8277L12.5681 21.8231L12.5923 21.8066C12.6131 21.7924 12.6431 21.7718 12.6817 21.7451C12.759 21.6916 12.8706 21.6134 13.0117 21.5124C13.2939 21.3104 13.6945 21.0167 14.1742 20.6457C15.132 19.905 16.4131 18.8502 17.6981 17.5975C18.9793 16.3484 20.2881 14.8799 21.2824 13.3095C22.2702 11.7494 23 10.0062 23 8.22843C23 4.74407 20.8525 2.47127 18.1727 2.06472C15.9783 1.73179 13.6151 2.67403 12 4.88494Z"
                                              fill="black"/>
                                    </svg>
                                    <svg class="icon-favori-add" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M12 21L12.5581 21.8298C12.2206 22.0568 11.7794 22.0568 11.4419 21.8298L12 21ZM12 4.88494C10.3849 2.67403 8.02171 1.73179 5.82727 2.06472C3.14752 2.47127 1 4.74407 1 8.22843C1 10.0062 1.72981 11.7494 2.7176 13.3095C3.71186 14.8799 5.02067 16.3484 6.30195 17.5975C7.58694 18.8502 8.86795 19.905 9.82575 20.6457C10.3055 21.0167 10.7061 21.3104 10.9883 21.5124C11.1294 21.6134 11.241 21.6916 11.3183 21.7451C11.3569 21.7718 11.3869 21.7924 11.4077 21.8066L11.4319 21.8231L11.4387 21.8277L11.4419 21.8298C11.4419 21.8298 11.4419 21.8298 12 21C12.5581 21.8298 12.5581 21.8298 12.5581 21.8298L12.5613 21.8277L12.5681 21.8231L12.5923 21.8066C12.6131 21.7924 12.6431 21.7718 12.6817 21.7451C12.759 21.6916 12.8706 21.6134 13.0117 21.5124C13.2939 21.3104 13.6945 21.0167 14.1742 20.6457C15.132 19.905 16.4131 18.8502 17.6981 17.5975C18.9793 16.3484 20.2881 14.8799 21.2824 13.3095C22.2702 11.7494 23 10.0062 23 8.22843C23 4.74407 20.8525 2.47127 18.1727 2.06472C15.9783 1.73179 13.6151 2.67403 12 4.88494Z"
                                              fill="#FF0000"/>
                                    </svg>
                                    <span data-favorite-product="{{ theme.settings.user_favorite_product }}"
                                          data-add-to-favorites="{{ theme.settings.user_add_my_favorites }}"></span>
                                </a>
                            </div>
                            {% if product.isPriceDiscountNotifiable %}
                                <div>
                                    <a href="javascript:void(0);" class="price-warning" data-selector="price-warning">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.1057 1.55276C16.3527 1.05878 16.9534 0.858558 17.4474 1.10555C18.5077 1.6357 19.3574 2.19295 20.0823 2.91788C20.8072 3.64281 21.3644 4.49249 21.8945 5.55282C22.1414 6.04682 21.9411 6.64748 21.4472 6.89443C20.9532 7.14139 20.3525 6.94112 20.1055 6.44713C19.6358 5.50746 19.1931 4.85714 18.668 4.33207C18.143 3.807 17.4926 3.36425 16.553 2.8944C16.059 2.64741 15.8588 2.04674 16.1057 1.55276Z"
                                                  fill="black"/>
                                            <path d="M7.45463 2.89076C7.9466 2.63979 8.14197 2.03752 7.891 1.54555C7.64003 1.05358 7.03776 0.858212 6.5458 1.10918C5.49488 1.64529 4.64772 2.20108 3.92323 2.92199C3.1975 3.64415 2.63735 4.48964 2.10579 5.55275C1.8588 6.04673 2.05902 6.64741 2.553 6.8944C3.04698 7.14139 3.64765 6.94116 3.89464 6.44718C4.36308 5.5103 4.80743 4.86362 5.33395 4.33969C5.86172 3.81453 6.51456 3.37032 7.45463 2.89076Z"
                                                  fill="black"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M14 3C14 3.04625 13.9984 3.08951 13.9953 3.12994C15.5591 3.3523 16.7522 3.85869 17.648 4.63844C18.8897 5.71927 19.3921 7.18178 19.6684 8.60062C19.8069 9.31169 19.8955 10.0521 19.9799 10.7603L19.983 10.7864C20.0677 11.498 20.149 12.1812 20.2721 12.8466C20.5211 14.1918 20.9226 15.3488 21.745 16.2674C21.9483 16.4944 22.037 16.8018 21.9858 17.1022C21.9347 17.4026 21.7494 17.6633 21.4825 17.8103C19.8517 18.7086 17.9461 19.324 15.9444 19.6684C15.6263 21.5594 13.9814 23 12 23C10.0186 23 8.37372 21.5594 8.0556 19.6684C6.05393 19.324 4.14835 18.7086 2.51754 17.8103C2.25062 17.6633 2.0653 17.4026 2.01418 17.1022C1.96306 16.8018 2.05171 16.4944 2.25498 16.2674C3.07743 15.3488 3.47894 14.1918 3.72784 12.8466C3.85098 12.1812 3.93229 11.498 4.01699 10.7864L4.0201 10.7603C4.1044 10.0521 4.193 9.31171 4.33149 8.60064C4.60782 7.1818 5.11014 5.71927 6.35186 4.63844C7.24771 3.85867 8.44082 3.35228 10.0047 3.12992C10.0016 3.0895 10 3.04625 10 3C10 1.89543 10.8954 1 12 1C13.1046 1 14 1.89543 14 3ZM10.2313 19.9345C10.5668 20.5683 11.233 21 12 21C12.767 21 13.4331 20.5683 13.7687 19.9345C13.1804 19.9783 12.5894 20 12 20C11.4106 20 10.8196 19.9783 10.2313 19.9345ZM4.51162 16.5643C6.67257 17.5102 9.31722 18 12 18C14.6828 18 17.3274 17.5102 19.4884 16.5643C18.8423 15.4976 18.5131 14.3323 18.3055 13.2106C18.1705 12.4808 18.0826 11.7422 18.0002 11.05L17.9939 10.9967C17.9081 10.2764 17.8273 9.60948 17.7053 8.98299C17.4606 7.72669 17.0774 6.7933 16.3349 6.14701C15.5946 5.50267 14.3288 5 11.9999 5C9.67104 5 8.40522 5.50267 7.66496 6.14701C6.92247 6.79329 6.53928 7.72667 6.29461 8.98297C6.17259 9.60947 6.09182 10.2764 6.00608 10.9967L5.99973 11.05C5.91737 11.7422 5.82948 12.4808 5.69446 13.2105C5.48689 14.3323 5.1577 15.4976 4.51162 16.5643Z"
                                                  fill="black"/>
                                        </svg>
                                        <span>{{ theme.settings.user_price_warning }}</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if theme.settings.use_social_links %}
                                <div class="product-social">
                                    <a href="javascript:void(0);" class="openbox" data-target="product-social-content"
                                       class="product-social-icon">
                                        <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.934 1.579a4.528 4.528 0 0 0-2.352 1.243 4.422 4.422 0 0 0-1.291 2.631c-.053.412-.055.56-.014.962.027.262.034.488.016.504-.044.039-5.105 2.001-5.155 1.999-.021-.001-.126-.126-.234-.279-.398-.565-1.04-1.109-1.684-1.43-1.142-.567-2.609-.593-3.79-.066-.999.446-1.909 1.36-2.308 2.318-.429 1.031-.479 2.211-.136 3.216.777 2.277 3.199 3.555 5.492 2.898.88-.253 1.776-.853 2.316-1.554l.091-.118 2.761 1.378c1.518.759 2.767 1.389 2.775 1.402.009.013-.01.12-.041.239a5.74 5.74 0 0 0-.104.676c-.04.387-.037.54.015.942a4.431 4.431 0 0 0 1.293 2.641 4.478 4.478 0 0 0 6.267.064 4.473 4.473 0 0 0 0-6.49 4.359 4.359 0 0 0-3.082-1.235c-.727 0-1.28.119-1.943.417-.515.232-1.157.734-1.561 1.222l-.148.179-2.782-1.391c-2.098-1.049-2.777-1.405-2.76-1.449.133-.345.197-1.259.132-1.86l-.032-.303 2.604-1.012c1.432-.557 2.609-1.006 2.615-.998l.206.293c.73 1.039 1.971 1.748 3.243 1.855 2.651.222 4.897-1.829 4.897-4.473a4.472 4.472 0 0 0-3.602-4.4 5.535 5.535 0 0 0-1.704-.021m1.303 1.463c.649.106 1.142.368 1.644.874.588.593.849 1.234.849 2.084 0 .801-.253 1.458-.779 2.021-.651.697-1.438 1.019-2.369.968-2.395-.131-3.66-2.895-2.205-4.818.43-.568 1.159-1.013 1.854-1.13a3.607 3.607 0 0 1 1.006.001m-13.252 5.3c.769.171 1.555.796 1.934 1.539.235.459.301.765.3 1.379-.001.652-.047.846-.331 1.4-.146.285-.256.431-.526.7-.591.588-1.144.833-1.962.869-.559.026-.944-.044-1.389-.249a3.184 3.184 0 0 1-1.517-1.53c-.321-.725-.3-1.803.048-2.496.652-1.298 2.003-1.931 3.443-1.612m13.252 6.7c.649.106 1.142.368 1.644.874.588.593.849 1.234.849 2.084 0 .801-.253 1.458-.779 2.021-.651.697-1.438 1.019-2.369.968-2.397-.131-3.661-2.894-2.205-4.818.43-.568 1.159-1.013 1.854-1.13a3.607 3.607 0 0 1 1.006.001"
                                                  fill-rule="evenodd" fill="#000"/>
                                        </svg>
                                        <span>{{ theme.settings.user_share }}</span>
                                    </a>
                                    <div class="product-social-content openbox-content">
                                        <div>
                                            <div>
                                                <a href="javascript:void(0);" class="product-social-facebook"
                                                   data-selector="share-link" data-type="facebook">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                        <path d="M7.812 4.487V6.965H6V10H7.816V19H11.546V10H14.046C14.046 10 14.28 8.547 14.394 6.958H11.557V4.882C11.5911 4.68787 11.6893 4.5108 11.836 4.37916C11.9827 4.24752 12.1693 4.16894 12.366 4.156H14.4V1H11.637C7.719 1 7.812 4.034 7.812 4.487Z"
                                                              fill="white"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="product-social-twitter"
                                                   data-selector="share-link" data-type="twitter">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                        <path d="M18.231 4.65668C17.583 4.93939 16.8976 5.12732 16.196 5.21468C16.9354 4.77608 17.4883 4.08158 17.75 3.26268C17.0576 3.67333 16.3 3.9625 15.51 4.11768C15.0257 3.60056 14.3971 3.24103 13.7058 3.08581C13.0146 2.93059 12.2926 2.98685 11.6337 3.24727C10.9748 3.5077 10.4095 3.96026 10.0111 4.54615C9.6128 5.13205 9.39986 5.8242 9.4 6.53268C9.39723 6.80356 9.42474 7.07391 9.482 7.33868C8.07656 7.26979 6.70149 6.90506 5.44666 6.26834C4.19183 5.63162 3.08551 4.73725 2.2 3.64368C1.7454 4.42082 1.60464 5.34219 1.80648 6.21961C2.00832 7.09703 2.53752 7.8643 3.286 8.36468C2.72546 8.35036 2.17663 8.20114 1.686 7.92968V7.96868C1.68701 8.78434 1.96895 9.57476 2.48438 10.2069C2.9998 10.8391 3.71725 11.2744 4.516 11.4397C4.21384 11.5192 3.90244 11.5582 3.59 11.5557C3.36549 11.5598 3.14119 11.5397 2.921 11.4957C3.1492 12.1967 3.58905 12.8097 4.18002 13.2504C4.77099 13.6912 5.48403 13.9379 6.221 13.9567C4.97052 14.9345 3.42841 15.4651 1.841 15.4637C1.55991 15.4652 1.27901 15.4489 1 15.4147C2.61528 16.4554 4.49748 17.006 6.419 16.9997C7.7417 17.0089 9.05304 16.7551 10.2769 16.2532C11.5007 15.7513 12.6126 15.0113 13.548 14.0761C14.4834 13.1409 15.2237 12.0291 15.7258 10.8054C16.2279 9.58167 16.4819 8.27038 16.473 6.94768C16.473 6.79168 16.468 6.64068 16.46 6.49068C17.1569 5.99211 17.7571 5.37061 18.231 4.65668Z"
                                                              fill="white"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="product-social-pinterest"
                                                   data-selector="share-link" data-type="pinterest">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                        <path d="M10.561 2C5.628 2 3 5.161 3 8.609C3 10.209 3.893 12.201 5.323 12.834C5.54 12.934 5.658 12.89 5.707 12.689C5.75 12.536 5.938 11.799 6.029 11.451C6.04522 11.3967 6.04663 11.3391 6.0331 11.284C6.01956 11.229 5.99156 11.1786 5.952 11.138C5.40251 10.4247 5.1031 9.55039 5.1 8.65C5.11346 7.99513 5.25947 7.34978 5.5292 6.75289C5.79893 6.156 6.18679 5.61994 6.66938 5.17707C7.15197 4.73419 7.71929 4.39368 8.33709 4.17609C8.9549 3.95849 9.61039 3.86831 10.264 3.911C13.077 3.911 15.044 5.738 15.044 8.352C15.044 11.305 13.481 13.352 11.451 13.352C11.1978 13.3732 10.9432 13.3341 10.7081 13.2379C10.4729 13.1418 10.2639 12.9913 10.098 12.7989C9.93221 12.6064 9.81431 12.3774 9.75399 12.1306C9.69367 11.8838 9.69264 11.6263 9.751 11.379C10.1736 10.1979 10.4915 8.98185 10.701 7.745C10.7205 7.5462 10.6973 7.34552 10.6329 7.15644C10.5684 6.96736 10.4643 6.79426 10.3274 6.64876C10.1905 6.50327 10.0241 6.38875 9.83931 6.3129C9.65451 6.23705 9.45562 6.20162 9.256 6.209C8.112 6.209 7.184 7.342 7.184 8.863C7.17716 9.42129 7.29395 9.97417 7.526 10.482C7.526 10.482 6.4 15.051 6.192 15.9C5.99963 17.2248 6.02768 18.5723 6.275 19.888C6.27764 19.9121 6.28756 19.9348 6.30345 19.9531C6.31934 19.9714 6.34044 19.9844 6.36393 19.9904C6.38742 19.9964 6.41217 19.995 6.43488 19.9866C6.45758 19.9781 6.47717 19.9629 6.491 19.943C7.27365 18.8666 7.90081 17.6853 8.354 16.434C8.494 15.92 9.066 13.834 9.066 13.834C9.3684 14.2405 9.76553 14.5669 10.2228 14.785C10.6802 15.003 11.1838 15.106 11.69 15.085C15.137 15.085 17.628 12.055 17.628 8.295C17.616 4.7 14.531 2 10.561 2Z"
                                                              fill="white"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0);" class="product-social-whatsapp"
                                                   data-selector="share-link" data-type="whatsapp">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M16.377 3.61331C15.1243 2.36619 13.531 1.51696 11.7973 1.17224C10.0636 0.827523 8.26663 1.00268 6.63211 1.67572C4.99759 2.34876 3.59833 3.48968 2.61001 4.95524C1.62169 6.4208 1.08837 8.14568 1.077 9.91331C1.07636 11.4795 1.49039 13.018 2.277 14.3723L1 18.9973L5.75 17.7573C7.06504 18.4701 8.5372 18.8434 10.033 18.8433C12.4041 18.8468 14.6798 17.9096 16.3608 16.2374C18.0419 14.5651 18.991 12.2944 19 9.92331C19.0032 8.75013 18.773 7.58803 18.3226 6.50471C17.8723 5.42139 17.2109 4.43851 16.377 3.61331ZM10.038 17.3363C8.70477 17.3366 7.39579 16.9799 6.247 16.3033L5.975 16.1423L3.15 16.8783L3.903 14.1423L3.726 13.8623C3.0182 12.7379 2.62568 11.444 2.58952 10.1159C2.55337 8.78777 2.8749 7.47436 3.52048 6.31315C4.16605 5.15194 5.11191 4.18563 6.25905 3.51537C7.40619 2.84511 8.71242 2.49556 10.041 2.50331C11.0149 2.50331 11.9794 2.69514 12.8792 3.06786C13.779 3.44057 14.5966 3.98687 15.2853 4.67555C15.9739 5.36424 16.5202 6.18183 16.893 7.08164C17.2657 7.98145 17.4575 8.94586 17.4575 9.91981C17.4575 10.8938 17.2657 11.8582 16.893 12.758C16.5202 13.6578 15.9739 14.4754 15.2853 15.1641C14.5966 15.8528 13.779 16.399 12.8792 16.7718C11.9794 17.1445 11.0149 17.3363 10.041 17.3363H10.038ZM14.124 11.7843C13.9 11.6723 12.799 11.1333 12.594 11.0593C12.389 10.9853 12.239 10.9483 12.094 11.1713C11.949 11.3943 11.516 11.8963 11.385 12.0453C11.254 12.1943 11.124 12.2123 10.9 12.1013C10.2385 11.8409 9.62734 11.4674 9.094 10.9973C8.60511 10.546 8.18588 10.0247 7.85 9.45031C7.72 9.22731 7.85 9.11831 7.95 8.99531C8.15548 8.75569 8.34267 8.50097 8.51 8.23331C8.53969 8.1719 8.5535 8.10402 8.55018 8.03589C8.54686 7.96776 8.52652 7.90155 8.491 7.84331C8.435 7.73131 7.991 6.63531 7.801 6.18831C7.611 5.74131 7.435 5.81231 7.301 5.80531C7.167 5.79831 7.014 5.79731 6.865 5.79731C6.75114 5.79983 6.63903 5.82592 6.53576 5.87394C6.43249 5.92196 6.3403 5.99087 6.265 6.07631C6.01234 6.3147 5.81213 6.60314 5.67714 6.92321C5.54216 7.24329 5.47535 7.58798 5.481 7.93531C5.55417 8.77638 5.87189 9.57765 6.395 10.2403C7.35711 11.6746 8.67556 12.8342 10.221 13.6053C10.6381 13.7844 11.0643 13.9413 11.498 14.0753C11.9549 14.2134 12.4375 14.2435 12.908 14.1633C13.2194 14.1003 13.5145 13.9736 13.7747 13.7912C14.0349 13.6088 14.2546 13.3746 14.42 13.1033C14.5664 12.7704 14.6116 12.4017 14.55 12.0433C14.497 11.9513 14.35 11.8973 14.124 11.7843Z"
                                                              fill="white"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div>
                                <a href="javascript:void(0);" class="recommend-product"
                                   data-selector="recommend-product">
                                    <svg width="24" height="24" viewBox="0 0 20 20" fill="none">
                                        <path d="M18.75 17.5C18.75 17.5 20 17.5 20 16.25C20 15 18.75 11.25 13.75 11.25C8.75 11.25 7.5 15 7.5 16.25C7.5 17.5 8.75 17.5 8.75 17.5H18.75ZM8.77793 16.25C8.7736 16.2495 8.76754 16.2487 8.76019 16.2475C8.75672 16.2469 8.75333 16.2463 8.75001 16.2456C8.75182 15.9156 8.95859 14.9586 9.69907 14.0947C10.3917 13.2867 11.6034 12.5 13.75 12.5C15.8966 12.5 17.1083 13.2867 17.8009 14.0947C18.5414 14.9586 18.7482 15.9156 18.75 16.2456C18.7467 16.2463 18.7433 16.2469 18.7398 16.2475C18.7325 16.2487 18.7264 16.2495 18.7221 16.25H8.77793Z"
                                              fill="black"/>
                                        <path d="M13.75 8.75C15.1307 8.75 16.25 7.63071 16.25 6.25C16.25 4.86929 15.1307 3.75 13.75 3.75C12.3693 3.75 11.25 4.86929 11.25 6.25C11.25 7.63071 12.3693 8.75 13.75 8.75ZM17.5 6.25C17.5 8.32107 15.8211 10 13.75 10C11.6789 10 10 8.32107 10 6.25C10 4.17893 11.6789 2.5 13.75 2.5C15.8211 2.5 17.5 4.17893 17.5 6.25Z"
                                              fill="black"/>
                                        <path d="M8.66991 11.6C8.21017 11.4529 7.69942 11.346 7.13285 11.2913C6.85244 11.2643 6.55835 11.25 6.25 11.25C1.25 11.25 0 15 0 16.25C0 17.0833 0.416667 17.5 1.25 17.5H6.52045C6.34445 17.1449 6.25 16.7239 6.25 16.25C6.25 14.9871 6.72156 13.6975 7.61227 12.6202C7.91659 12.2522 8.26983 11.9089 8.66991 11.6ZM6.15005 12.5006C5.40319 13.642 5 14.9434 5 16.25H1.25C1.25 15.9241 1.45531 14.9625 2.19907 14.0947C2.88086 13.2993 4.06562 12.5246 6.15005 12.5006Z"
                                              fill="black"/>
                                        <path d="M1.875 6.875C1.875 4.80393 3.55393 3.125 5.625 3.125C7.69607 3.125 9.375 4.80393 9.375 6.875C9.375 8.94607 7.69607 10.625 5.625 10.625C3.55393 10.625 1.875 8.94607 1.875 6.875ZM5.625 4.375C4.24429 4.375 3.125 5.49429 3.125 6.875C3.125 8.25571 4.24429 9.375 5.625 9.375C7.00571 9.375 8.125 8.25571 8.125 6.875C8.125 5.49429 7.00571 4.375 5.625 4.375Z"
                                              fill="black"/>
                                    </svg>
                                    <span>{{ theme.settings.user_recommend_product }}</span>
                                </a>
                            </div>
                            {% if theme.settings.display_compare_button %}
                                <div class="product-compare">
                                    <a href="javascript:void(0);"
                                       class="{{ isComparedProduct(product.id) ? ' active' : '' }}"
                                       data-selector="compare-check" data-product-id="{{ product.id }}">
                                        <svg width="24" height="24" viewBox="0 0 20 20" fill="none">
                                            <path d="M17.5 3.75H11.25V2.5C11.25 2.16848 11.1183 1.85054 10.8839 1.61612C10.6495 1.3817 10.3315 1.25 10 1.25H2.5C2.16848 1.25 1.85054 1.3817 1.61612 1.61612C1.3817 1.85054 1.25 2.16848 1.25 2.5V15C1.25 15.3315 1.3817 15.6495 1.61612 15.8839C1.85054 16.1183 2.16848 16.25 2.5 16.25H8.75V17.5C8.75 17.8315 8.8817 18.1495 9.11612 18.3839C9.35054 18.6183 9.66848 18.75 10 18.75H17.5C17.8315 18.75 18.1495 18.6183 18.3839 18.3839C18.6183 18.1495 18.75 17.8315 18.75 17.5V5C18.75 4.66848 18.6183 4.35054 18.3839 4.11612C18.1495 3.8817 17.8315 3.75 17.5 3.75V3.75ZM2.5 9.375H6.35625L4.74375 10.9938L5.625 11.875L8.75 8.75L5.625 5.625L4.74375 6.50625L6.35625 8.125H2.5V2.5H10V15H2.5V9.375ZM10 17.5V16.25C10.3315 16.25 10.6495 16.1183 10.8839 15.8839C11.1183 15.6495 11.25 15.3315 11.25 15V5H17.5V10.625H13.6437L15.2562 9.00625L14.375 8.125L11.25 11.25L14.375 14.375L15.2562 13.4938L13.6437 11.875H17.5V17.5H10Z"
                                                  fill="black"/>
                                        </svg>
                                        <span>{{ getLang("_Compare_") }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% if product.buttons | length > 0 %}
                            <div class="product-standart-cargo-buttons">
                                {% for productButton in product.buttons %}
                                    <div class="product-standart-cargo-button {{ productButton.name }}">
                                        <i></i>
                                        <span>{{ getLang('_' ~ productButton.name ~ '_') }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="inline-block border-bot">
                        {% include 'html/snippets/product/tab.twig' %}
                    </div>
                    <div class="info-more">
                        {% if theme.settings.display_sku %}
                            <p class="des-font margin_bottom_30 margin_top_50"><span
                                        class="menu-font">{{ getLang("_StockCode_") }}</span> {{ product.sku }}</p>
                        {% endif %}
                        {% if product.categories | length > 0 and theme.settings.display_category_detail %}
                            <p class="margin_bottom_30">
                                <span class="menu-font margin_right_10">{{ getLang("_Category_") }}</span>
                                <a href="#" class="delay03 margin_right_10">
                                    {% for category in product.categories %}
                                        <a href='{{ category.url }}'
                                           title="{{ category.name ~ ' ' ~ theme.settings.detail_category_text }}">{{ category.name }}</a>
                                        {% if not loop.last %}<span>, </span>{% endif %}
                                    {% endfor %}
                                </a>

                            </p>
                        {% endif %}
                        {% if theme.settings.use_social_links %}
                            <p class="margin_bottom_30">
                                <span class="menu-font margin_right_30">{{ theme.settings.user_share }}</span>
                                <a href="javascript:void(0);" class="delay03 margin_right_30 product-social-facebook"
                                   data-selector="share-link" data-type="facebook">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M7.812 4.487V6.965H6V10H7.816V19H11.546V10H14.046C14.046 10 14.28 8.547 14.394 6.958H11.557V4.882C11.5911 4.68787 11.6893 4.5108 11.836 4.37916C11.9827 4.24752 12.1693 4.16894 12.366 4.156H14.4V1H11.637C7.719 1 7.812 4.034 7.812 4.487Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" class="delay03 margin_right_30 product-social-twitter"
                                   data-selector="share-link" data-type="twitter">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M18.231 4.65668C17.583 4.93939 16.8976 5.12732 16.196 5.21468C16.9354 4.77608 17.4883 4.08158 17.75 3.26268C17.0576 3.67333 16.3 3.9625 15.51 4.11768C15.0257 3.60056 14.3971 3.24103 13.7058 3.08581C13.0146 2.93059 12.2926 2.98685 11.6337 3.24727C10.9748 3.5077 10.4095 3.96026 10.0111 4.54615C9.6128 5.13205 9.39986 5.8242 9.4 6.53268C9.39723 6.80356 9.42474 7.07391 9.482 7.33868C8.07656 7.26979 6.70149 6.90506 5.44666 6.26834C4.19183 5.63162 3.08551 4.73725 2.2 3.64368C1.7454 4.42082 1.60464 5.34219 1.80648 6.21961C2.00832 7.09703 2.53752 7.8643 3.286 8.36468C2.72546 8.35036 2.17663 8.20114 1.686 7.92968V7.96868C1.68701 8.78434 1.96895 9.57476 2.48438 10.2069C2.9998 10.8391 3.71725 11.2744 4.516 11.4397C4.21384 11.5192 3.90244 11.5582 3.59 11.5557C3.36549 11.5598 3.14119 11.5397 2.921 11.4957C3.1492 12.1967 3.58905 12.8097 4.18002 13.2504C4.77099 13.6912 5.48403 13.9379 6.221 13.9567C4.97052 14.9345 3.42841 15.4651 1.841 15.4637C1.55991 15.4652 1.27901 15.4489 1 15.4147C2.61528 16.4554 4.49748 17.006 6.419 16.9997C7.7417 17.0089 9.05304 16.7551 10.2769 16.2532C11.5007 15.7513 12.6126 15.0113 13.548 14.0761C14.4834 13.1409 15.2237 12.0291 15.7258 10.8054C16.2279 9.58167 16.4819 8.27038 16.473 6.94768C16.473 6.79168 16.468 6.64068 16.46 6.49068C17.1569 5.99211 17.7571 5.37061 18.231 4.65668Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" class="delay03 margin_right_30 product-social-pinterest"
                                   data-selector="share-link" data-type="pinterest">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M10.561 2C5.628 2 3 5.161 3 8.609C3 10.209 3.893 12.201 5.323 12.834C5.54 12.934 5.658 12.89 5.707 12.689C5.75 12.536 5.938 11.799 6.029 11.451C6.04522 11.3967 6.04663 11.3391 6.0331 11.284C6.01956 11.229 5.99156 11.1786 5.952 11.138C5.40251 10.4247 5.1031 9.55039 5.1 8.65C5.11346 7.99513 5.25947 7.34978 5.5292 6.75289C5.79893 6.156 6.18679 5.61994 6.66938 5.17707C7.15197 4.73419 7.71929 4.39368 8.33709 4.17609C8.9549 3.95849 9.61039 3.86831 10.264 3.911C13.077 3.911 15.044 5.738 15.044 8.352C15.044 11.305 13.481 13.352 11.451 13.352C11.1978 13.3732 10.9432 13.3341 10.7081 13.2379C10.4729 13.1418 10.2639 12.9913 10.098 12.7989C9.93221 12.6064 9.81431 12.3774 9.75399 12.1306C9.69367 11.8838 9.69264 11.6263 9.751 11.379C10.1736 10.1979 10.4915 8.98185 10.701 7.745C10.7205 7.5462 10.6973 7.34552 10.6329 7.15644C10.5684 6.96736 10.4643 6.79426 10.3274 6.64876C10.1905 6.50327 10.0241 6.38875 9.83931 6.3129C9.65451 6.23705 9.45562 6.20162 9.256 6.209C8.112 6.209 7.184 7.342 7.184 8.863C7.17716 9.42129 7.29395 9.97417 7.526 10.482C7.526 10.482 6.4 15.051 6.192 15.9C5.99963 17.2248 6.02768 18.5723 6.275 19.888C6.27764 19.9121 6.28756 19.9348 6.30345 19.9531C6.31934 19.9714 6.34044 19.9844 6.36393 19.9904C6.38742 19.9964 6.41217 19.995 6.43488 19.9866C6.45758 19.9781 6.47717 19.9629 6.491 19.943C7.27365 18.8666 7.90081 17.6853 8.354 16.434C8.494 15.92 9.066 13.834 9.066 13.834C9.3684 14.2405 9.76553 14.5669 10.2228 14.785C10.6802 15.003 11.1838 15.106 11.69 15.085C15.137 15.085 17.628 12.055 17.628 8.295C17.616 4.7 14.531 2 10.561 2Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                                <a href="javascript:void(0);" class="delay03 margin_right_30 product-social-whatsapp"
                                   data-selector="share-link" data-type="whatsapp">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M16.377 3.61331C15.1243 2.36619 13.531 1.51696 11.7973 1.17224C10.0636 0.827523 8.26663 1.00268 6.63211 1.67572C4.99759 2.34876 3.59833 3.48968 2.61001 4.95524C1.62169 6.4208 1.08837 8.14568 1.077 9.91331C1.07636 11.4795 1.49039 13.018 2.277 14.3723L1 18.9973L5.75 17.7573C7.06504 18.4701 8.5372 18.8434 10.033 18.8433C12.4041 18.8468 14.6798 17.9096 16.3608 16.2374C18.0419 14.5651 18.991 12.2944 19 9.92331C19.0032 8.75013 18.773 7.58803 18.3226 6.50471C17.8723 5.42139 17.2109 4.43851 16.377 3.61331ZM10.038 17.3363C8.70477 17.3366 7.39579 16.9799 6.247 16.3033L5.975 16.1423L3.15 16.8783L3.903 14.1423L3.726 13.8623C3.0182 12.7379 2.62568 11.444 2.58952 10.1159C2.55337 8.78777 2.8749 7.47436 3.52048 6.31315C4.16605 5.15194 5.11191 4.18563 6.25905 3.51537C7.40619 2.84511 8.71242 2.49556 10.041 2.50331C11.0149 2.50331 11.9794 2.69514 12.8792 3.06786C13.779 3.44057 14.5966 3.98687 15.2853 4.67555C15.9739 5.36424 16.5202 6.18183 16.893 7.08164C17.2657 7.98145 17.4575 8.94586 17.4575 9.91981C17.4575 10.8938 17.2657 11.8582 16.893 12.758C16.5202 13.6578 15.9739 14.4754 15.2853 15.1641C14.5966 15.8528 13.779 16.399 12.8792 16.7718C11.9794 17.1445 11.0149 17.3363 10.041 17.3363H10.038ZM14.124 11.7843C13.9 11.6723 12.799 11.1333 12.594 11.0593C12.389 10.9853 12.239 10.9483 12.094 11.1713C11.949 11.3943 11.516 11.8963 11.385 12.0453C11.254 12.1943 11.124 12.2123 10.9 12.1013C10.2385 11.8409 9.62734 11.4674 9.094 10.9973C8.60511 10.546 8.18588 10.0247 7.85 9.45031C7.72 9.22731 7.85 9.11831 7.95 8.99531C8.15548 8.75569 8.34267 8.50097 8.51 8.23331C8.53969 8.1719 8.5535 8.10402 8.55018 8.03589C8.54686 7.96776 8.52652 7.90155 8.491 7.84331C8.435 7.73131 7.991 6.63531 7.801 6.18831C7.611 5.74131 7.435 5.81231 7.301 5.80531C7.167 5.79831 7.014 5.79731 6.865 5.79731C6.75114 5.79983 6.63903 5.82592 6.53576 5.87394C6.43249 5.92196 6.3403 5.99087 6.265 6.07631C6.01234 6.3147 5.81213 6.60314 5.67714 6.92321C5.54216 7.24329 5.47535 7.58798 5.481 7.93531C5.55417 8.77638 5.87189 9.57765 6.395 10.2403C7.35711 11.6746 8.67556 12.8342 10.221 13.6053C10.6381 13.7844 11.0643 13.9413 11.498 14.0753C11.9549 14.2134 12.4375 14.2435 12.908 14.1633C13.2194 14.1003 13.5145 13.9736 13.7747 13.7912C14.0349 13.6088 14.2546 13.3746 14.42 13.1033C14.5664 12.7704 14.6116 12.4017 14.55 12.0433C14.497 11.9513 14.35 11.8973 14.124 11.7843Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area-bottom">
            {% include 'html/snippets/product/promotion.twig' %}
            {% if similar_product_showcase_items | length > 0 %}
                <div class="default-products similar-products">
                    <div class="products-header">
                        <span>{{ theme.settings.similar_products }}</span>
                    </div>
                    <div class="products-content row">
                        {% for item in similar_product_showcase_items %}
                            <div class="col-auto">
                                {% include 'html/snippets/showcase-item.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if offered_product_showcase_items | length > 0 %}
                <div class="default-products offered-products">
                    <div class="products-header">
                        <span>{{ theme.settings.offered_products }}</span>
                    </div>
                    <div class="products-content row">
                        {% for item in offered_product_showcase_items %}
                            <div class="col-auto">
                                {% include 'html/snippets/showcase-item.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if combine_product_showcase_items | length > 0 %}
                <div class="default-products combined-products">
                    <div class="products-header">
                        <span>{{ theme.settings.combined_products }}</span>
                    </div>
                    <div class="products-content row">
                        {% set showcase = {'type':'CombineProducts'} %}
                        {% for item in combine_product_showcase_items %}
                            <div class="col-auto">
                                {% include 'html/snippets/showcase-item.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if product.tags | length > 0 %}
                <div class="product-tags">
                    <div class="product-tags-title">{{ getLang("_LabelFilter_") }} :</div>
                    <div class="product-tags-content">
                        {% for tag in product.tags %}
                            <a href="{{ tag.url }}" title="{{ tag.name }}" target="_blank">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if theme.settings.use_rich_snippets %}
            {% include 'html/snippets/product/rich-snippet.twig' %}
        {% endif %}
        {% include 'html/snippets/product/tracking.twig' %}
        {% include 'html/snippets/product/form/add-comment.twig' %}
        {% include 'html/snippets/product/form/send-recommend.twig' %}
    </div>
{% endblock %}