{% extends 'html/layouts/content-fluid.twig' %}
{% block page_scripts %}
<script>
    $('header').addClass("fixed");
</script>
{% endblock %}
{% block content %}
    {% if theme.settings.slide_status %}

        {% include 'html/snippets/theme-slider.twig' %}

    {% endif %}

    {% if theme.settings.featured_products_check %}
        {% set productList = getProducts('featured', {'limit': 4}) %}
        {% if productList | length > 0 %}
            <div class="collection-home4 container margin_bottom_150 margin_top_120">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 clear-space no-padding-left">
                        {% for item in productList %}
                            {% include 'html/snippets/showcase-item-square.twig' %}
                        {% endfor %}
                    </div>
                    <!--  -->
                    {% if theme.settings.featured_banner_check %}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 over-hidden relative banner_collection space_left_10">
                            <a href="{{ theme.settings.featured_banner_link }}"{% if theme.settings.featured_banner_target %} target="_blank"{% endif %}>
                                <img src="{{ themeAsset(theme.settings.featured_banner_image) }}"
                                     class="img-responsive hover-zoom-out"
                                     alt="">
                            </a>
                            <a href="#"
                               class="title-font name_collection absolute">{{ theme.settings.featured_products_title }}</a>

                        </div>
                    {% endif %}

                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="container shipping-home4 margin_bottom_150">
        <div class="row">
            {% for i in 1..3 %}
                {% set shoppingBannerTitle = theme.settings["shopping_banner_title_" ~ i] %}
                {% set shoppingBannerSubTitle = theme.settings["shopping_banner_sub_title_" ~ i] %}
                {% set shoppingBannerLink = theme.settings["shopping_banner_link_" ~ i] %}
                {% set shoppingBannerImage = theme.settings["shopping_banner_image_" ~ i] %}
                {% if shoppingBannerTitle %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content">
                        {% if shoppingBannerTitle %}
                            <div class="flex">
                                {% if shoppingBannerImage %}
                                    <img src="{{ themeAsset(theme.settings["shopping_banner_image_" ~ i]) }}"
                                         class="img-responsive" alt="">
                                {% endif %}
                                <span class="title-font title-ship space_left_30">{{ shoppingBannerTitle }}</span>
                            </div>
                            {% if shoppingBannerSubTitle %}
                                <p class="des-font des-ship">{{ shoppingBannerSubTitle }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!--  -->
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if theme.settings.featured_products_check %}
        {% set productList = getProducts('popular', {'limit': 4}) %}
        {% if productList | length > 0 %}
            <div class="collection-home4 container margin_bottom_150">
                <div class="row">
                    {% if theme.settings.featured_banner_check %}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 over-hidden relative banner_collection space_right_10">
                            <a href="{{ theme.settings.featured_banner_link }}"{% if theme.settings.featured_banner_target %} target="_blank"{% endif %}>
                                <img src="{{ themeAsset(theme.settings.featured_banner_image) }}"
                                     class="img-responsive hover-zoom-out"
                                     alt="">
                            </a>
                            <a href="#"
                               class="title-font name_collection absolute">{{ theme.settings.featured_products_title }}</a>

                        </div>
                    {% endif %}

                    <!--  -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 clear-space no-padding-left">
                        {% for item in productList %}
                            {% include 'html/snippets/showcase-item-square.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="newsletter-home3 space_bot_150 space_top_130 BG">
        {% if theme.settings.newsletter_title or theme.settings.newsletter_short_details %}
            {% if theme.settings.newsletter_title %}
                <h1 class="title-font capital title-newsletter text-center">{{ theme.settings.newsletter_title }}</h1>
            {% endif %}
            {% if theme.settings.newsletter_short_details %}
                <p class="des-font des-newsletter space_bot_60 text-center">{{ theme.settings.newsletter_short_details }}</p>
            {% endif %}
        {% endif %}
        <form class="form-group des-font flex" method="post" target="_blank">
            <input type="email" name="EMAIL" class="form-control"
                   placeholder="{{ theme.settings.newsletter_placeholder }}"
                   onfocus="this.placeholder = ''"
                   onblur="this.placeholder = '{{ theme.settings.newsletter_placeholder }}'"
                   aria-label="Newsletter Email" autocomplete="off">
            <button type="submit" aria-label="Submit" class="menu-font uppercase">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_542_928)">
                        <path d="M22 20.007C21.9982 20.2696 21.8931 20.521 21.7075 20.7068C21.5219 20.8926 21.2706 20.9979 21.008 21H2.992C2.72881 20.9997 2.4765 20.895 2.29049 20.7088C2.10448 20.5226 2 20.2702 2 20.007V19H20V7.3L12 14.5L2 5.5V4C2 3.73478 2.10536 3.48043 2.29289 3.29289C2.48043 3.10536 2.73478 3 3 3H21C21.2652 3 21.5196 3.10536 21.7071 3.29289C21.8946 3.48043 22 3.73478 22 4V20.007ZM4.434 5L12 11.81L19.566 5H4.434ZM0 15H8V17H0V15ZM0 10H5V12H0V10Z"
                              fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_542_928">
                            <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </form>
    </div>
    {% if theme.settings.blog_check %}
        {% set blogList = getBlogs() %}
        {% if blogList | length > 0 %}
            <div class="container blog-home4 space_top_bot_150">
                <div class="row">
            {% if theme.settings.blog_header %}
                    <h1 class="title-blog title-font text-center">{{ theme.settings.blog_header }}</h1>
                {% if theme.settings.blog_abstract %}
                    <p class="des-font des-blog text-center space_bot_60">{{ theme.settings.blog_abstract }}</p>
                    {% endif %}
            {% endif %}
                    <div class="row d-flex">
                        {% for blog in blogList | slice(0,3) %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 content-blog space_right_10">
                                <a href="{{ blog.url }}" title="{{ blog.title }}" class="inline-block over-hidden">
                                    <img src="{{ blog.imagePath }}" class="img-responsive hover-zoom-out" alt="{{ blog.title }}">
                                </a>
                                <h2 class="title-font capital title-post">
                                    <a href="{{ blog.url }}" title="{{ blog.title }}">
                                        {{ blog.title }}
                                    </a>
                                </h2>
                                {# <p class="des-font day-post">11/13/2018</p>#}
                                <p class="des-font des-post">
                                    {{ blog.excerpt | raw }}
                                </p>
                                <a href="{{ blog.url }}" class="menu-font link-more uppercase">{{ theme.settings.blog_read_more }}</a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}