<div class="pushmenu menu-home5">
    <div class="menu-push">
        <span class="close-left js-close"><i class="ti-close"></i></span>
        <div class="clearfix"></div>
        <form role="search" method="get" id="searchform" class="searchform title-font" action="{{ path('search') }}">
            <div>
                <label class="screen-reader-text" for="q"></label>
                <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                <input type="hidden" name="type" value="product">
                <button type="submit" id="searchsubmit"><i class="ti-search"></i></button>
            </div>
        </form>
        <ul class="nav-home5 js-menubar clear-space menu-font">
            {{ macro_global('navigationMenuMobile') }}

            <li>
                {% if not visitor.isMember %}
                <a href="{{ path('member_login') }}" class="inline-block uppercase"><i class="zoa-icon-user space_right_10"></i>login</a>
                {% else %}
                <a href="{{ path('member_index') }}" class="inline-block uppercase"><i class="zoa-icon-user space_right_10"></i>login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>




<header class="full-width fixed">
    <div class="container space_top_bot_55 delay03" id="menu-header">
        <div class="row flex">
            <div class="col-lg-1 col-md-2 col-sm-6 col-xs-5">
                <a href="{{ path('entry') }}"><img src="{{ themeAsset(theme.settings.logo) }}" alt=""></a>
            </div>
            <div class="col-lg-8 col-md-7 hidden-sm hidden-xs">
                {{ macro_global('navigationMenu') }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 text-right icon-main">
                <a href="#" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-search"><i class="ti-search"></i></a>
                {% if not visitor.isMember %}
                <a href="{{ path('member_login') }}" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-login"><i class="zoa-icon-user"></i></a>
                {% else %}
                <a href="{{ path('member_index') }}" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-login"><i class="zoa-icon-user"></i></a>
               {% endif %}
                <a href="#" class="link-menu delay03 container_20 relative inline-block text-center" id="btn-cart">
                    <i class="ti-bag"></i>
                    <figure class="absolute label-cart number-font">0</figure>
                </a>
                <a href="#" class="link-menu delay03 inline-block hidden-md hidden-lg space_left_10 btn-push-menu">
                    <svg width="26" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 66 41" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                                    <g>
                                        <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5"></line>
                                        <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5"></line>
                                        <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5"></line>
                                    </g>
                   </svg>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="form-search delay03 text-center">

    <i class="ti-close" id="close-search"></i>
    <h3 class="text-center title-font">what are<br>your looking for ?</h3>
    <form method="get" action="{{ path("search") }}" role="search">
        <input type="text" class="form-control control-search des-font" value="" autocomplete="off" placeholder="{{ theme.settings.search_placeholder }}" aria-label="SEARCH" name="q">
        <button class="button_search title-font" type="submit">search</button>
    </form>

</div>
<div class="form-cart delay03">
    <i class="ti-close" id="close-cart"></i>
    <h3 class="title-font capital">my cart</h3>
    <div class="empty-cart">
        <p class="des-font">No products in the cart.</p>
        <a href="{{ path("cart_index") }}" class="capital des-font">start shopping</a>
    </div>

</div>