{% if navigationMenu.categories | length > 0 %}
    <ul class="nav navbar-nav menu-font menu-main">
        {% for firstLevelCategory in navigationMenu.categories %}
            <li class="relative {% if firstLevelCategory.subCategories | length > 0 %} dropdown{% endif %}">
                <a href="{{ firstLevelCategory.url }}" title="{{ firstLevelCategory.name }}"
                   class="link-menu delay03 uppercase">{{ firstLevelCategory.name }}</a>
                <figure class="line {% if loop.first %} active_line {% endif %} absolute delay03"></figure>
                {% if firstLevelCategory.subCategories | length > 0 %}
                    <div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
                        <div class="container_15">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 border-right">
                                    <ul class="clear-space capital lv1">
                                        {% for secondLevelCategory in firstLevelCategory.subCategories %}
                                            <li class="margin_bottom_20 space_left_20 uppercase">
                                                <a href="{{ secondLevelCategory.url }}"
                                                   title="{{ secondLevelCategory.name }}">{{ secondLevelCategory.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <script>
        var navigationMenu = {{ navigationMenu | json_encode }};
    </script>
{% endif %}
